@keyframes backgroundAnimation {
  0% {
    background-color: #ff7e5f;
  }
  50% {
    background-color: #feb47b;
  }
  100% {
    background-color: #ff7e5f;
  }
}

.animate-background {
  animation: backgroundAnimation 5s ease infinite;
}
